.logo-box {
    background-color: var(--bg-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--logo-width);
    height: 55px;

}

.logo-box h1 {
	margin: 0;
}

.logo-box img {
    padding: 0px;
    width: 100%;
}